Academy Assistant - Webhook RAG Escalation (1).json
{
  "name": "Academy Assistant - Webhook RAG Escalation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "academy-assistant",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "4aa2eda1-ffe3-4c12-8edd-ed843c3bd6ca",
      "name": "Incoming Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1408,
        288
      ],
      "webhookId": "7401d8f2-e911-431f-8a1e-4d9c60ce17f8"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body ?? $json;\nconst query = body.query ?? body.message ?? body.text ?? '';\n\nreturn [{\n  json: {\n    query: String(query).trim(),\n    user_id: body.user_id ?? body.chat_id ?? body.from ?? 'unknown',\n    user_name: body.user_name ?? body.name ?? 'unknown',\n    channel: body.channel ?? 'webhook',\n    raw_input: body\n  }\n}];"
      },
      "id": "7346bcdd-6cdf-46fe-93d3-5eed08575e67",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1136,
        288
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.query}}",
              "operation": "isNotEmpty"
            }
          ]
        },
        "options": {}
      },
      "id": "b8203ba1-c65a-4854-ae51-73e93444dfa4",
      "name": "Has Query?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -896,
        288
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "2732594e-c220-4f2f-89a5-091855c2745a",
      "name": "Invalid Request Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -656,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://host.docker.internal:8000/chat/",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Content-Type\": \"application/json\",\n  \"X-Webhook-Secret\": \"secret123\"\n}\n",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"{{$json.query}}\"\n}\n",
        "options": {
          "timeout": 30000
        }
      },
      "id": "6c6d2223-7dd3-4cbc-9309-3612dee10b98",
      "name": "Ask FastAPI RAG",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -656,
        208
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const normalized = $('Normalize Input').first().json;\nconst upstream = $json;\n\nif (upstream.error) {\n  return [{\n    json: {\n      query: normalized.query,\n      user_id: normalized.user_id,\n      user_name: normalized.user_name,\n      channel: normalized.channel,\n      answer: 'Escalando a un agente humano.',\n      escalate: true,\n      reason: 'No fue posible consultar la API RAG',\n      sources: [],\n      human_message: `Fallo la consulta al backend RAG.\\nPregunta: ${normalized.query}\\nCanal: ${normalized.channel}\\nUsuario: ${normalized.user_name} (${normalized.user_id})\\nError: ${upstream.error.message || JSON.stringify(upstream.error)}`\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    query: normalized.query,\n    user_id: normalized.user_id,\n    user_name: normalized.user_name,\n    channel: normalized.channel,\n    answer: upstream.answer ?? 'Escalando a un agente humano.',\n    escalate: Boolean(upstream.escalate),\n    reason: upstream.reason ?? '',\n    sources: upstream.sources ?? [],\n    human_message: `Nueva consulta para revision humana.\\nPregunta: ${normalized.query}\\nCanal: ${normalized.channel}\\nUsuario: ${normalized.user_name} (${normalized.user_id})\\nMotivo: ${upstream.reason ?? 'Fuera de scope o sin suficiente contexto documental'}`\n  }\n}];"
      },
      "id": "95306bfe-a03d-4b52-831e-f24b33717286",
      "name": "Prepare Routing",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -416,
        208
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.escalate}}",
              "operation": "isTrue"
            }
          ]
        },
        "options": {}
      },
      "id": "105739ef-6cce-4bda-96ab-baaa678fed61",
      "name": "Escalate?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -176,
        208
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SLACK_WEBHOOK_URL}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { text: $json.human_message } }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "8c4ef789-adf9-4262-beb8-8dbab1b85700",
      "name": "Notify Human",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        64,
        112
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "0a0e2fc7-b7af-4633-ae65-9ad8d0901863",
      "name": "Escalated Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        304,
        112
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "ea371cb0-a43c-46c5-930a-b8253dc4f7c7",
      "name": "Success Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        64,
        304
      ]
    },
    {
      "parameters": {
        "content": "Webhook HTTP de entrada para consultas. Espera `query`, `message` o `text` en el body.",
        "height": 220,
        "width": 280
      },
      "id": "398ed8c6-eba3-432b-b254-c127504a030a",
      "name": "Note Input",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1440,
        112
      ]
    },
    {
      "parameters": {
        "content": "Asegura entrada valida y envia la pregunta a tu API Python/LangChain en `/chat`.",
        "height": 220,
        "width": 300
      },
      "id": "08b92d11-2de7-4ead-b784-81ec8cd7c27b",
      "name": "Note RAG",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -736,
        32
      ]
    },
    {
      "parameters": {
        "content": "Si `escalate=true` o falla la API, notifica a humano por Slack webhook y devuelve una respuesta de escalamiento.",
        "height": 220,
        "width": 360
      },
      "id": "b47ece6d-695e-49bc-adf9-2ccbde7f23ab",
      "name": "Note Escalation",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Incoming Webhook": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Has Query?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Query?": {
      "main": [
        [
          {
            "node": "Ask FastAPI RAG",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Invalid Request Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ask FastAPI RAG": {
      "main": [
        [
          {
            "node": "Prepare Routing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Routing": {
      "main": [
        [
          {
            "node": "Escalate?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escalate?": {
      "main": [
        [
          {
            "node": "Notify Human",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Human": {
      "main": [
        [
          {
            "node": "Escalated Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "de783700-5966-4709-98ba-6b79ca2aca21",
  "meta": {
    "instanceId": "c664c55875f6c8cc49d41d5b9db0a596a93ead500e7de7ca9619794932f8ba41"
  },
  "id": "Mqi5G9s7ChgYangB",
  "tags": []
}