Academy Assistant - Webhook RAG Escalation (1).json
{
  "name": "Academy Assistant - Webhook RAG Escalation",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const body = $json.body ?? $json;\nconst query = body.query ?? body.message ?? body.text ?? '';\n\nreturn [{\n  json: {\n    query: String(query).trim(),\n    user_id: body.user_id ?? body.chat_id ?? body.from ?? 'unknown',\n    user_name: body.user_name ?? body.name ?? 'unknown',\n    channel: body.channel ?? 'webhook',\n    raw_input: body\n  }\n}];"
      },
      "id": "0968d15f-8983-4b78-b841-94a7bb94f129",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1136,
        288
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.query}}",
              "operation": "isNotEmpty"
            }
          ]
        },
        "options": {}
      },
      "id": "65b6a602-18c1-4d9e-bfa4-38e1f0623f19",
      "name": "Has Query?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -896,
        288
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a43b35d5-fc16-41b9-8464-56e6c84d74a5",
      "name": "Invalid Request Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -656,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://host.docker.internal:8000/chat/",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Content-Type\": \"application/json\",\n  \"X-Webhook-Secret\": \"secret123\"\n}\n",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"{{$json.query}}\"\n}\n",
        "options": {
          "timeout": 30000
        }
      },
      "id": "b4d74675-a6fd-4e92-8a09-b09a2c29b97a",
      "name": "Ask FastAPI RAG",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -656,
        208
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const normalized = $('Normalize Input').first().json;\nconst upstream = $json;\n\nif (upstream.error) {\n  return [{\n    json: {\n      query: normalized.query,\n      user_id: normalized.user_id,\n      user_name: normalized.user_name,\n      channel: normalized.channel,\n      answer: 'Escalando a un agente humano.',\n      escalate: true,\n      reason: 'No fue posible consultar la API RAG',\n      sources: [],\n      human_message: `Fallo la consulta al backend RAG.\\nPregunta: ${normalized.query}\\nCanal: ${normalized.channel}\\nUsuario: ${normalized.user_name} (${normalized.user_id})\\nError: ${upstream.error.message || JSON.stringify(upstream.error)}`\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    query: normalized.query,\n    user_id: normalized.user_id,\n    user_name: normalized.user_name,\n    channel: normalized.channel,\n    answer: upstream.answer ?? 'Escalando a un agente humano.',\n    escalate: Boolean(upstream.escalate),\n    reason: upstream.reason ?? '',\n    sources: upstream.sources ?? [],\n    human_message: `Nueva consulta para revision humana.\\nPregunta: ${normalized.query}\\nCanal: ${normalized.channel}\\nUsuario: ${normalized.user_name} (${normalized.user_id})\\nMotivo: ${upstream.reason ?? 'Fuera de scope o sin suficiente contexto documental'}`\n  }\n}];"
      },
      "id": "832c34ee-e2b1-42a9-9816-100f30132484",
      "name": "Prepare Routing",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -416,
        208
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.escalate}}",
              "operation": "isTrue"
            }
          ]
        },
        "options": {}
      },
      "id": "e57a7d06-3c07-4072-9fa5-def05f91b539",
      "name": "Escalate?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -176,
        208
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SLACK_WEBHOOK_URL}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { text: $json.human_message } }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "ad219c72-790b-4af6-adc8-ab5fab2a4a02",
      "name": "Notify Human",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        64,
        112
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a5c8f0b4-6580-455f-93f8-d40a9ac1f43a",
      "name": "Escalated Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        304,
        112
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "97a6da68-6a9c-4e1f-a0fa-908dc568fd18",
      "name": "Success Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        64,
        304
      ]
    },
    {
      "parameters": {
        "content": "Webhook HTTP de entrada para consultas. Espera `query`, `message` o `text` en el body.",
        "height": 220,
        "width": 280
      },
      "id": "d18d3c60-0592-40ab-b423-1860e8f7c7c1",
      "name": "Note Input",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1440,
        112
      ]
    },
    {
      "parameters": {
        "content": "Asegura entrada valida y envia la pregunta a tu API Python/LangChain en `/chat`.",
        "height": 220,
        "width": 300
      },
      "id": "d55775d5-62d3-40ab-9e09-6c1f6e269dd6",
      "name": "Note RAG",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -736,
        32
      ]
    },
    {
      "parameters": {
        "content": "Si `escalate=true` o falla la API, notifica a humano por Slack webhook y devuelve una respuesta de escalamiento.",
        "height": 220,
        "width": 360
      },
      "id": "60aa3c01-8b72-4dd9-bc39-3bf82b781541",
      "name": "Note Escalation",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "academy-assistant",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1376,
        288
      ],
      "id": "0fde4ffd-68a1-4f8e-acff-51c0a9c7c313",
      "name": "Webhook",
      "webhookId": "2bbee5f7-5bed-470e-9eb3-8f0d728bb27e"
    }
  ],
  "pinData": {},
  "connections": {
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Has Query?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Query?": {
      "main": [
        [
          {
            "node": "Ask FastAPI RAG",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Invalid Request Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ask FastAPI RAG": {
      "main": [
        [
          {
            "node": "Prepare Routing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Routing": {
      "main": [
        [
          {
            "node": "Escalate?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escalate?": {
      "main": [
        [
          {
            "node": "Notify Human",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Human": {
      "main": [
        [
          {
            "node": "Escalated Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "08856fd8-bd48-4a3d-adde-e519e6bd07ef",
  "meta": {
    "instanceId": "97b0bc369da51e9f2be4aa61d99e98bb9ced089c812165b684dd28f3d661ebcd"
  },
  "id": "KFNwUh8n4IXJIa5o",
  "tags": []
}